@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body, #reserve button
{
    font-family: 'Montserrat', sans-serif;
}

body a
{
    text-decoration: none;
    color: #121212;
}

body a:hover
{
    color: #fafafa;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul {
    display: flex;
    margin-right: 5%;
}

header ul a
{
    margin: 0 10px;
}

header h1
{
    margin-left: 5%;
    font-size: 18px;
    font-weight: 500;
}

#hero {
    background-color: #f79f68;
    width: 100vw;
    height: 100vh;
    position: relative;
}

@media screen and (max-width: 1280px)
{
    #hero-mascot
    {
        width: 25vw;
    }
}

@media screen and (max-width: 1024px)
{
    #hero-mascot
    {
        display: none;
    }

    #hero-text
    {
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
    }

    #me
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    body #description #me
    {
        margin-bottom: 50vh;
    }
}

@media screen and (max-width: 768px)
{
    body #hero h1
    {
        font-size: 2rem;
    }

    body #hero p
    {
        font-size: 1.25rem;
    }

    #description > div
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    body #description #me
    {
        margin-bottom: 50vh;
    }

    .reason
    {
        margin-bottom: 50vh;
        width: 75%;
    }

    #description .reason h2
    {
        font-size: 6rem;
    }

    body p
    {
        font-size: .8rem;
    }

    header li, footer li
    {
        font-size: .75rem;
    }
}

#hero-mascot {
    width: 35vw;
    height: auto;
    position: absolute;
    right: 10%;
    top: 15%;
}

#mascot
{
    position: sticky;
    right: 0;
}

#mascot-img
{
    position: fixed;
    right: -10vw;
    bottom: 2.5vh;
    width: 10vw;
    height: auto;
    animation: slideAndRotate .5s ease-in-out 5s forwards, rotateAnimation 1s ease-in-out 5s forwards;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

#mascot-img:hover
{
    transform: scale(1.05);
}

@keyframes slideAndRotate {
    from {
        right: -5vw;
        opacity: 0;
    }
    to {
        right: 1.5vw;
        opacity: 1;
    }
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#hero-text
{
    top: 30%;
    left: 5%;
    position: absolute;
}

#hero h1
{
    font-size: 36px;
    font-weight: bold;
    margin: 30px 0;
}

#hero p
{
    font-size: 24px;
    font-weight: 200;
    margin: 20px 0;
}

#hero button
{
    background: none;
    outline: #121212;
    box-shadow: none;
    border: 2px;
    border-style: solid;
    border-radius: 12.5px;
    border-color: #121212;
    padding: 10px;
    color: #fafafa;
    background-color: #121212;
}

#hero button:hover
{
    cursor: pointer;
    background: none;
    color: #fafafa;
}

#description
{
    background-color: #fafafa;
    width: 100vw;
    height: 100vh;
}

#description #me
{
    margin: 7.5% 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

#me-text h2
{
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 24px;
}

#me-text p
{
    max-width: 500px;
    text-align: justify;
    line-height: 22.5px;
}

#why-me {
    display: flex;
    justify-content: space-between;
    gap: 10%;
    margin: 15% 5%;
    margin-bottom: 7.5%;
}

.reason
{
    display: flex;
    justify-content: center;
    position: relative;
}

.reason h2
{
    position: absolute;
    font-weight: 500;
    font-size: 120px;
    opacity: 50%;
    top: -65%;
}

#reason-1 h2
{
    color: aquamarine;
}

#reason-2 h2
{
    color: chartreuse;
}

#reason-3 h2
{
    color: darkorchid;
}

.reason p
{
    z-index: 1;
    max-width: 80%;
    text-align: center;
    font-weight: 300;
    line-height: 125%;
}

#reviews {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

.reviews-box {
    max-width: 35vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
}

.reviews-box img
{
    max-width: 150px;
    border-radius: 50%;
}

.reviews-box h2
{
    font-size: 28px;
    font-weight: 500;
}

.reviews-box p {
    font-style: italic;
}

#register 
{
    margin: 20vh 10vw;
}

#register h2
{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 7.5vh;
    font-weight: bold;
}

form
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 30vw;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

input[type="submit"] {
    width: 30vw;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }

footer {
    background-color: #121212;
    color: #fafafa;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 0;
}

footer ul li
{
    color: #fafafa;
}

footer ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-right: 2.5%;
}

footer p {
    padding-left: 2.5%;
}